@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#F8FAFC] text-slate-900 antialiased;
    font-family: 'Inter', sans-serif; /* Siguraduhing may Inter font ka o system-sans */
  }
}

/* Custom scrollbar para magmukhang premium */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}